<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue">
      <div *ngFor="let factory; factory">
        {{ factory.factoryName }}
      </div>

      <p>Factory Name: {{ factoryName }}</p>
    </h1>

    <div class="d-flex">
      <button
        (click)="clickAddProduct()"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        class="btn btn-success"
      >
        Add Product
      </button>
    </div>
  </div>
</nav>
<table class="table table-hover mt-3">
  <thead>
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of Productdata">
      <td>{{ row.productId }}</td>
      <td>{{ row.productName }}</td>
      <td>{{ row.quantity }}</td>
      <td>{{ row.description }}</td>
      <td>
        <button
          (click)="updateProduct(row)"
          class="btn"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="btn btn-success"
        >
          Edit
        </button>
      </td>
      <td>
        <button
          type="button"
          value="Delete"
          (click)="deleteProduct(row)"
          class="btn btn-danger mx-3"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Product Details</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Product Name</label
            >
            <input
              formControlName="productName"
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Product Quantity</label
            >
            <input
              formControlName="quantity"
              type="text"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Product Description</label
            >
            <input
              formControlName="description"
              type="text"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="mb-3 style">
          <label for="ProductImage" class="form-label">Product Image</label>
          <!-- <form action="/action_page.php">
            <input class="mb-4" type="file" id="myFile" name="filename" />
          </form> -->
          <!-- <form (ngSubmit)="uploadImage()">
            <input type="file" (change)="onFileSelected($event)" /><button
              type="submit"
            >
              Upload
            </button>
          </form> -->
          <label class="btn btn-default p-0">
            <input
              type="file"
              accept="image/*"
              multiple
              value="select"
              #selectFile
            />
          </label>
          <button
            type="button"
            *ngIf="showAdd"
            (click)="postDetails()"
            class="btn btn-primary add"
          >
            Add Product
          </button>
          <button
            type="button"
            *ngIf="showUpdate"
            (click)="UpdateProductDetails()"
            class="btn btn-primary update"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
